*{
  margin: 0;
}
.app_header{
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index:1;

}
.app_postright{
  margin-left: 20px;
}
.app_headerImage{
  object-fit: contain;
}
.app_post{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app{
  background-color: #fafafa;
 
}
.form_login{
  display: flex;
  flex-direction: column;
}